<p id="notice"><%= notice %></p>
<head>
<script src="/assets/videos.js"></script>
<link rel="stylesheet" href="/assets/videos.css" >
</head>
<h1>Listing Videos</h1>

  <div class="videos-gal">
    <ul class="videos">
    <% arr = [] %>
      <% @videos.each do |video| %>
        <% arr.push(video.url) %>
      <% end %>
    <% @videos.each_index do |i| %>
      <li class="ind-vid">
        <div id="player<%=i%>"></div>
      </li>
    <% end %>
      <%= javascript_tag do %>
        window.ids = "<%= arr %>"
      <% end %>
    </ul>
  </div>
