
<head>
<script src="/assets/videos.js"></script>
<link rel="stylesheet" href="/assets/videos.css" >
</head>
<div class="site-container">
  <div class="site-pusher">
    <header class="header">
      <a href="#" class="header__icon" id="header__icon"></a>
      <a href="/" class="header__logo">Logo</a>
      <nav class="menu">
        <a class="hidden-sm hidden-md hidden-lg nav-links-top" href="/">IMAFRE.CO</a>
        <a class="nav-links" href="/about">ABOUT</a>
        <a class="nav-links" href="/videos">VIDEOS</a>
        <a class="nav-links" href="/images">IMAGES</a>
        <a class="nav-links" href="/images">WORK</a>
      </nav>
    </header>
    <div class="site-content">
      <div class="container">

<h1>Listing Videos</h1>

  <div class="videos-gal">
    <ul class="videos">
    <% arr = [] %>
      <% @videos.each do |video| %>
        <% arr.push(video.url) %>
      <% end %>
    <% @videos.each_index do |i| %>
      <li class="ind-vid">
        <div id="player<%=i%>"></div>
      </li>
    <% end %>
      <%= javascript_tag do %>
        window.ids = "<%= arr %>"
      <% end %>
    </ul>
  </div>

</div> <!-- END container -->
</div> <!-- END site-content -->
<div class="site-cache" id="site-cache"></div>
</div> <!-- END site-pusher -->
</div> <!-- END site-container -->
