
<head>
<script src="/assets/videos.js"></script>
<link rel="stylesheet" href="/assets/videos.css" >
<title>VIDEOS|ANDRES</title>
</head>
<div class="site-container">
  <div class="site-pusher">
    <header class="header">
      <a href="#" class="header__icon" id="header__icon"></a>
        <a href="/" class="header__logo"><p>IMAFRE.CO</p></a>
      <nav class="menu">
        <a class="hidden-sm hidden-md hidden-lg nav-links-top" href="/"></a>
        <a class="nav-links" href="/about">ABOUT</a>
        <a class="nav-links" href="/videos">VIDEOS</a>
        <a class="nav-links" href="/images">IMAGES</a>
        <a class="nav-links" href="/work">WORK</a>
        <div id="bottom-domain" class="hidden-sm hidden-md hidden-lg">
          <a class="nav-links-bottom" href="/">
            <h1 class="domain"><strong>IMAFRE.CO</strong><p class="te-un-do">
              WEB DEVELOPER & DESIGNER
            </p></h1>
          </a>
        </div>
      </nav>
    </header>
    <div class="site-content">
      <div class="container">
<div class="title-wrap">


<h2 class="images-title">VIDEOS</h2>
</div>
  <div class="videos-gal">
    <ul class="videos">
    <% arr = [] %>
      <% @videos.each do |video| %>
        <% arr.push(video.url) %>
      <% end %>
    <% @videos.each_index do |i| %>
      <li class="ind-vid">
        <div id="player<%=i%>"></div>
      </li>
    <% end %>
      <%= javascript_tag do %>
        window.ids = "<%= arr %>"
      <% end %>
    </ul>
  </div>

</div> <!-- END container -->
<footer class="footer">
  <p>
    © 2016 Andres Rojas, unless otherwise noted.
  </p>
</footer>
</div> <!-- END site-content -->
<div class="site-cache" id="site-cache"></div>
</div> <!-- END site-pusher -->
</div> <!-- END site-container -->
