<body>
<div class="site-container">
  <div class="site-pusher">
    <header class="header">
      <a href="#" class="header__icon" id="header__icon"></a>
      <a href="/" class="header__logo"><p>IMAFRE.CO</p></a>
      <nav class="menu">
        <a class="hidden-sm hidden-md hidden-lg nav-links-top" href="/"></a>
        <a class="nav-links" href="/about">ABOUT</a>
        <a class="nav-links" href="/videos">VIDEOS</a>
        <a class="nav-links" href="/images">IMAGES</a>
        <a class="nav-links" href="/work">WORK</a>
        <div id="bottom-domain" class="hidden-sm hidden-md hidden-lg">
          <a class="nav-links-bottom" href="/">
            <h1 class="domain"><strong>IMAFRE.CO</strong><p class="te-un-do">
              WEB DEVELOPER | DESIGNER
            </p></h1>
          </a>
        </div>

      </nav>
    </header>
    <div class="site-content">
      <div class="container work">
<!-- <br>
<br> -->
<!-- <div class="hello"> -->


<div class="title-wrap">
<h2 class="images-title">WORK</h2>
</div>
<div class="wks">
<ul>
  <li class="col-lg-4 col-sm-6 col-xs-12 thumb">
    <a>
      <h3>TOUCHRATE</h3>
      <img class="wk-img" src="/assets/trate" alt="" />
    </a>
      <p>Touchrate is based in Orlando, they specialize in consumer facing touchscreen Sales & marketing-Assist Solutions. As part of this wornderful team
      I was in charge of developing a user-friendly plataform manipulating and showing data obtained from a REST API.</p>
    </li>
  <li class="col-lg-4 col-sm-6 col-xs-12 thumb">
    <a>
      <h3>TAILORUP</h3>
      <img class="wk-img" src="/assets/tailorup" alt="" />
    </a>
      <p>Caveat gave us the chance of develop a solution for their tailoring business. We created an app that allows local users create appointments
        with tailors in just 3 simple steps.  I was in charge of some of the front end and the logic behind the appointments. </p>
    </li>
  <li class="col-lg-4 col-sm-6 col-xs-12 thumb">
    <a>
      <h3>LABRATS</h3>
      <img class="wk-img" src="/assets/labrats" alt="" />
    </a>
      <p>LABRATS started as a simple project design to help members of the LAB MIAMI to connect with each other.
        The project gained the attention of the LAB itself and now is being considered as the official  app. I designed some layouts and took all the necessary media for it.
 </p>
    </li>
    <li class="col-lg-4 col-sm-6 col-xs-12 thumb">
      <a>
        <h3>BOOKING SYSTEM</h3>
        <img class="wk-img" src="/assets/hotel" alt="" />
      </a>
      <p>This app was develop as part of the interview process for a company called 71 LBS. This booking system allows you to
        create rooms and book them, it only allows you to book the rooms if exists or if its available, avoiding the overlapping of dates.</p>
    </li>
</ul>
</div>




</div> <!-- END container -->
<footer class="footer">
  <p>
    © 2016 Andres Rojas, unless otherwise noted.
  </p>
</footer>
</div> <!-- END site-content -->
<div class="site-cache" id="site-cache"></div>
</div> <!-- END site-pusher -->
</div> <!-- END site-container -->
</body>
