<body>
<link rel="stylesheet" href="/assets/about.css" media="screen" title="no title" charset="utf-8">
<div id="left">Side menu
<h2>about</h2>
</div>
<div id="right">Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />Scroll
    <br />
</div>
</body>

<script type="text/javascript">
// $(window).load(function(){
  $(document).ready(function() {

  });
// });
</script>
