<div class="site-container">
  <div class="site-pusher">
    <header class="header">
      <a href="#" class="header__icon" id="header__icon"></a>
        <a href="/" class="header__logo"><p>IMAFRE.CO</p></a>
      <nav class="menu">
        <a class="hidden-sm hidden-md hidden-lg nav-links-top" href="/"></a>
        <a class="nav-links" href="/about">ABOUT</a>
        <a class="nav-links" href="/videos">VIDEOS</a>
        <a class="nav-links" href="/images">IMAGES</a>
        <a class="nav-links" href="/work">WORK</a>
        <div id="bottom-domain" class="hidden-md hidden-lg">
          <a class="nav-links-bottom" href="/">
            <h1 class="domain"><strong>IMAFRE.CO</strong><p class="te-un-do">
              WEB DEVELOPER & HUMAN
            </p></h1>
          </a>
        </div>

      </nav>
    </header>
    <div class="site-content">
      <div class="container">
        <div class="title-wrap">
        <h2 class="images-title">ABOUT</h2>
      </div>

          <img src="/assets/best" class="ab-div" alt="Smiley face">
            <div class="line">
              <!-- <p></p> -->
            </div>
              <div class="ab-txt">
                <h2>MY NAME IS ANDRES</h2>
                <p>
                  ROJAS and I like to code. I'm a web developer and designer
                   based in Miami who has a hobby as career.
                   I enjoy art and music, they are part of who I am and how I feel about the world
                   we live in. Seeing the world from different angles makes me
                    visit new places, learn new cultures and get lost in it.
                   I take pride in everything with my name on it, this implies
                   giving my best constantly and drinking a lot of coffee.
                   Overall I enjoy a lot of things except for pastel colors, I hate pastel colors.
                </p>
                <p>
                  Below this text you will find a map with most of the major cities
                  I have visited. I'm pretty happy with my progress but there are a lot
                  more places to be :).
                </p>
              </div>

<script>
      function initMap() {
        var myLatLng = {lat: 26.2417757, lng: -37.9490358};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: myLatLng
        });

        var malaga = new google.maps.Marker({
          position: {lat:  36.7201600, lng: -4.4203400},
          map: map,
          title: 'Malaga'
        });
        var madrid = new google.maps.Marker({
          position: {lat: 40.4165000, lng: -3.7025600},
          map: map,
          title: 'Madrid'
        });
        var cali = new google.maps.Marker({
          position: {lat: 3.4372200, lng: -76.5225000},
          map: map,
          title: 'Cali'
        });
        var bogota = new google.maps.Marker({
          position: {lat: 4.6097100, lng:  -74.0817500},
          map: map,
          title: 'Bogota'
        });
        var orlando = new google.maps.Marker({
          position: {lat:  28.5383400, lng: -81.3792400},
          map: map,
          title: 'Orlando'
        });
        var miami = new google.maps.Marker({
          position: {lat:  25.7742700, lng: -80.1936600},
          map: map,
          title: 'Miami'
        });
        var newYork = new google.maps.Marker({
          position: {lat: 40.7142700, lng: -74.0059700},
          map: map,
          title: 'New York'
        });
        var chicago = new google.maps.Marker({
          position: {lat: 41.8500300, lng: -87.6500500},
          map: map,
          title: 'Chicago'
        });
        var montreal = new google.maps.Marker({
          position: {lat: 45.5088400, lng:  -73.5878100},
          map: map,
          title: 'Montreal'
        });
        var sanJuan = new google.maps.Marker({
          position: {lat: 18.4663300, lng: -66.1057200},
          map: map,
          title: 'San Juan'
        });
        var düsseldorf = new google.maps.Marker({
          position: {lat: 51.2217200, lng: 6.7761600},
          map: map,
          title: 'Düsseldorf'
        });
        var sevilla = new google.maps.Marker({
          position: {lat: 37.3828300, lng: -5.9731700},
          map: map,
          title: 'Sevilla'
        });
        var cadiz = new google.maps.Marker({
          position: {lat: 36.5297800, lng: -6.2946500},
          map: map,
          title: 'Cadiz'
        });
        var granada = new google.maps.Marker({
          position: {lat: 37.1881700, lng: -3.6066700},
          map: map,
          title: 'Granada'
        });
        var cordoba = new google.maps.Marker({
          position: {lat:  37.8915500, lng: -4.7727500},
          map: map,
          title: 'Cordoba'
        });

      }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHfPOaGklfRv0oKg_ATiq4ZrvCpAp5mNA&callback=initMap" async defer> </script>
<div class="line bt"></div>
<div id="map"></div>

<div class="line bt"></div>
<div class="social">
  <h2>LET'S WORK TOGETHER</h2>
  <ul>
    <li><a href="mailto:afre92@gmail.com?Subject=Let's%20Work"><img src="/assets/email" alt="" /></a></li>
    <li><a href="https://www.linkedin.com/in/andres-rojas-a82a3aaa"><img src="/assets/linkedin" alt="" /></a></li>
    <li><a href="https://twitter.com/afre92"><img src="/assets/twitter" alt="" /></a></li>
  </ul>
</div>
<div style="height: 60px;">
</div>

      </div> <!-- END container -->
      <footer class="footer">
        <p>
          © 2016 Andres Rojas, unless otherwise noted.
        </p>
      </footer>
      </div> <!-- END site-content -->
      <div class="site-cache" id="site-cache"></div>
      </div> <!-- END site-pusher -->
      </div> <!-- END site-container -->
