/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */
.navbar-default {
 border-color: transparent;
 border-bottom-width: 0px;
 margin-bottom: 0px;
 }


body {
  background-color: #f8f8f8;
}

.navbar-brand {
  padding: 0;
}



.navbar-nav {
  float: right;
}

.logo {
  padding-left: 15px;

}

/**/
body {
  position: relative;
  overflow-x: hidden;
}

body, html {
  /*height: 100%;*/
  /*background-color: #583e7e;*/
}



/*.container {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}*/

/* VARIABLES */
/* BASE */
html,
body {
  /*font-family: 'Julius Sans One', sans-serif !important;*/
  font-family: 'Raleway', sans-serif !important;
  font-size: 1em;
  line-height: 1.4; /*this may cause some issues for the fonts*/
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-links, .nav-links-top {
  color: #323333;
  /*font-family: 'Julius Sans One', sans-serif !important;*/
  font-family: 'Raleway', sans-serif !important;
  font-weight: bolder;
  font-size: 18px;
}

.container {
  overflow: hidden;
  *zoom: 1;
  margin: 0 20px;
}

.site-content {
  /*padding-top: 55px;*/
}

/* HEADER */
.header {

  height: 55px;
  line-height: 55px;
  background-color: #f8f8f8;
}

.header__logo {
  font-weight: 700;
  padding: 0 25px;
  float: right;
}

/* MENU */
.menu {
  float: left;
}
.menu a {
  padding: 0 10px;
  font-weight: 400;

}
a:hover, a:focus {
  color: #323333;
}
.menu a:hover{
  text-decoration: underline !important;
  color: #323333 ;
}
h1, h2, h3, h4, h5, h6 p {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 300 !important;
}

#left h2:hover, a:hover {
  color: #323333;
  text-decoration: none !important;
  /*text-decoration: underline;*/
}

h1.domain {
  font-size: 50px;
}

.footer p {
  text-align: center;
  font-size: 12px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/assets/Preloader_2.gif) center no-repeat #fff;
}
