* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*.item {
  width:  400px;
  height: 400px;*/
  /*float: left;*/

/*}*/

/*.item.thumbnail { width:  400px; background:#cfcfcf }
.item.medium { width:  400px; background: #A6E392}
.item.large { width:  400px; background: #D092E3}*/

.thumbnail {
  border: none;
}

.thumbnail {
  background: none;
}
div#masonry {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

/*#largeImgPanel {
             text-align: center;
             display: none;
             position: fixed;
             z-index: 100;
             top: 0; left: 0; width: 100%; height: 100%;
             background-color: rgba(100,100,100, 0.5);*/

img {
  max-width: 100%;
  height: auto;

}


.one-third {
  width: 31%;
  float: left;
  /*height: auto;*/
  margin: 0;
  padding: 0;
  display: inline-block;

}
/*.one-third-second{
  margin: 0;
}*/
.one-third-last {
  margin: 0;
}
.thumbnail {
  border: none;
}

.thumbnail {
  background: none;
}

@media screen and (max-width: 1700px) {
  .one-third {
    width: 23%;
    float: left;
    /*height: auto;*/
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}


@media screen and (max-width: 800px) {
  .one-third {
    width: 31%;
    float: left;
    /*height: auto;*/
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}
