

@media only screen and (max-width: 769px) {
  /*new stye down*/
  .site-pusher,
  .site-container {
    height: 100%;
  }

  .site-container {
    overflow: hidden;
  }

  .site-pusher {
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  .site-content {
    position: absolute;
    top: 55px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .header {
    position: static;
    height: 55px;
  }
.nav-links:focus {
  border-left: 5px solid #323333;
}
.nav-links {
  .text-align: left;
}
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 55px;
    cursor: pointer;
  }
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 2rem;
    height: 0;
    top: 16px;
    left: 15px;
    box-shadow: 0 10px 0 1px #323333, 0 16px 0 1px #323333, 0 22px 0 1px #323333;
  }

  .menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #f8f8f8;
    /*    overflow-y: scroll;
        -webkit-overflow-scrolling: touch;*/
    width: 180px;
    -webkit-transform: translateX(-180px);
    transform: translateX(-180px);
  }
  .menu a {
    display: block;
    height: 40px;
    line-height: 40px;
  }
  /*.menu a:hover {
    color: #323333 !important;
    text-decoration: none !important;
  }*/

  .with--sidebar .site-pusher {
    -webkit-transform: translateX(180px);
    transform: translateX(180px);
  }
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
  }
  .nav-links-top{
    height: 60px !important;
    text-align: center !important;
    line-height: 60px !important;
    font-size: large;
  }
  .menu a:hover{
    text-decoration: none !important;
    color: #323333 !important;
  }

  .overlay {
    display: none;
  }
  .navbar-nav {
    float: left;
    padding-left: 25px;

  }

  .hovereffect:hover img {
    -ms-transform: none;
    -webkit-transform:none;
    transform:none;
  }

  .hovereffect:hover .overlay {
    opacity:0;
    filter:none;
  }

  .one-third {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .hovereffect .overlay {
    width:100%;

}


}
