body {
  color: red;
}

@media only screen and (max-width: 800px) {
  .one-third {
    width: 50%;
  }

  .one-third-last{
    margin: 0;
  }
}



@media only screen and (max-width: 500px) {
  .one-third {
    width: 100%;
    padding: 0;
  }

  .one-third-last{
    margin: 0;
  }
}
