<p id="notice"><%= notice %></p>
<head>

<script src="/assets/jquery.swipebox.js"></script>
<link rel="stylesheet" href="/assets/swipebox.css">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<link rel="stylesheet" href="/assets/responsive.css" media="screen and (max-width: 900px)" charset="utf-8">

</head>
<body>
<h1>Listing Images</h1>

<div id='masonry'>
  <% @images.each do |image| %>
    <%= link_to image.image_url.to_s,class: "swipebox" do %>
      <div class="hov col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <%= image_tag image.image_url.to_s, :class => "img-responsive" %>
          <div class="overlay">
            <h2><%= image.name %></h2>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>

</body>
<script type="text/javascript">
$(window).load(function() {
  var container = document.querySelector('#masonry');
   var msnry = new Masonry( container, {
     columnWidth: '.hov',
     itemSelector: '.hov'
   });
  });
;( function( $ ) {
	$( '.swipebox' ).swipebox();
} )( jQuery );
</script>
