<head>
<link rel="stylesheet" href="/assets/images.css" >
<title>ANDRES|IMAGES</title>
</head>
<body>
<div class="site-container">
  <div class="site-pusher">
    <header class="header">
      <a href="#" class="header__icon" id="header__icon"></a>
        <a href="/" class="header__logo"><p>IMAFRE.CO</p></a>
      <nav class="menu">
        <a class="hidden-sm hidden-md hidden-lg nav-links-top" href="/"></a>
        <a class="nav-links" href="/about">ABOUT</a>
        <a class="nav-links" href="/videos">VIDEOS</a>
        <a class="nav-links" href="/images">IMAGES</a>
        <a class="nav-links" href="/work">WORK</a>
        <div id="bottom-domain" class="hidden-sm hidden-md hidden-lg">
          <a class="nav-links-bottom" href="/">
            <h1 class="domain"><strong>IMAFRE.CO</strong><p class="te-un-do">
              WEB DEVELOPER & DESIGNER
            </p></h1>
          </a>
        </div>

      </nav>
    </header>
    <div class="site-content">
      <div class="container">
<!-- <br>
<br> -->
<div class="title-wrap">
  <h2 class="images-title">IMAGES</h2>
</div>
<div id='masonry'>
  <% @images.each do |image| %>
    <%= link_to image.image_url.to_s,title:image.name, class: "swipebox" do %>
      <div class="hov col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <%= image_tag image.image_url.to_s, :class => "img-responsive" %>
          <div class="overlay-img">
            <h2><%= image.name %></h2>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


</div> <!-- END container -->
<footer class="footer">
  <p>
    © 2016 Andres Rojas, unless otherwise noted.
  </p>
</footer>
</div> <!-- END site-content -->
<div class="site-cache" id="site-cache"></div>
</div> <!-- END site-pusher -->
</div> <!-- END site-container -->

<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>
<script type="text/javascript">
var masonry = function () {
  var container = document.querySelector('#masonry');
   var msnry = new Masonry( container, {
     columnWidth: '.hov',
     itemSelector: '.hov'
   });
 };
$(window).load(function(){
  $(document).ready(function() {
    masonry();
  });
});
;( function( $ ) {
	$( '.swipebox' ).swipebox();
} )( jQuery );
</script>


</body>
