<p id="notice"><%= notice %></p>
<head>
<!--  -->
<link rel="stylesheet" href="/assets/venobox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/assets/venobox.js"></script>
<!--  -->
<script type="text/javascript" src="/assets/venobox.js"></script>
<script src="/assets/jquery.swipebox.js"></script>
<link rel="stylesheet" href="/assets/swipebox.css">
<link rel="stylesheet" href="/assets/animate.css">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>
<link rel="stylesheet" href="/assets/responsive.css" media="screen and (max-width: 900px)" charset="utf-8">

</head>
<h1>Listing Images</h1>

<div id='masonry'>

<% @images.each do |image| %>
<%= link_to image.image_url.to_s, class: "swipebox", rel: "gallery-1", title: image.name do %>
    <%= image_tag image.image_url.to_s, :class => "one-third item" %>
    <% end %>
<% end %>


<body>

      <a rel="gallery-1" class="swipebox" title="Cool panda" href="/assets/1.jpg" >
        <img src="/assets/1.jpg" class="one-third item" >
      </a>
      <a href="/assets/4.jpg" rel="gallery-1" class="swipebox" >
        <img src="/assets/4.jpg" class="one-third item" alt="Panda">
      </a>
      <a href="/assets/2" rel="gallery-1" class="swipebox">
        <img src="/assets/2" class="one-third item" alt="Panda">
      </a>
      <a href="/assets/3" rel="gallery-1" class="swipebox">
        <img src="/assets/3" class="one-third item" alt="Panda">
      </a>
      <a href="/assets/4" rel="gallery-1" class="swipebox">
        <img src="/assets/4" class="one-third item" alt="Panda">
      </a>
      <a href="/assets/5" rel="gallery-1" class="swipebox">
        <img src="/assets/5" class="one-third item" alt="Panda">
      </a>
      <a href="/assets/6" rel="gallery-1" class="swipebox">
        <img src="/assets/6" class="one-third item" alt="Panda">
      </a>
      <a href="/assets/3" rel="gallery-1" class="swipebox">
        <img src="/assets/3" class="one-third item" alt="Panda">
      </a>
      <a href="/assets/2" rel="gallery-1" class="swipebox">
        <img src="/assets/2" class="one-third item" alt="Panda">
      </a>
      <a href="/assets/5" rel="gallery-1" class="swipebox">
        <img src="/assets/5" class="one-third item" alt="Panda">
      </a>
      <a href="/assets/4.jpg" rel="gallery-1" class="swipebox">
        <img src="/assets/4.jpg" class="one-third item" alt="Panda">
      </a>
      <a href="/assets/2" rel="gallery-1" class="swipebox">
        <img src="/assets/2" class="one-third item" alt="Panda">
      </a>
      <a href="/assets/3" rel="gallery-1" class="swipebox">
        <img src="/assets/3" class="one-third item" alt="Panda">
      </a>
      <a href="/assets/4" rel="gallery-1" class="swipebox">
        <img src="/assets/4" class="one-third item" alt="Panda">
      </a>
      <a href="/assets/5" rel="gallery-1" class="swipebox">
        <img src="/assets/5" class="one-third item" alt="Panda">
      </a>
      <a href="/assets/6" rel="gallery-1" class="swipebox">
        <img src="/assets/6" class="one-third item" alt="Panda">
      </a>
      <a href="/assets/3" rel="gallery-1" class="swipebox">
        <img src="/assets/3" class="one-third item" alt="Panda">
      </a>


  </div>

<script type="text/javascript">
;( function( $ ) {

	$( '.swipebox' ).swipebox();

} )( jQuery );
</script>


</body>
